.heading {
  font-size: 6vw;
  font-weight: bolder;
  width: fit-content;
  font-family: cursive;
}
.test{
    z-index: 100;
    position: relative;
}

.icon {
  width: 15%;
  display: inline-block; 
  border-radius: 40%;
  background-color: white;
}

.right {
  float: right;
}

.icons {
  display: inline;
  background-color: rgb(255, 85, 255);
  border-radius: 20%;
  width: 20px;
  padding: 2px;
  margin-right: 20px;
}

.container {
  position: relative;
  width: 90%;
}

.div {
  position: relative; /* changed from absolute */
  font-size: large;
  z-index: 10;
}

.list {
  padding-top: 5%;
}

.set {
  width: 100%;
  z-index: 100;
  padding-left: 5%;
  top: 50%;
}

.bg {
  width: 40vw;
  height: 100vh;
  justify-self: center;
  margin-top: 10px;
  border-radius: 20%;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  opacity: 1;
}
.overlayContent {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  color: white; /* Ensure text is visible on image */
  text-align: center;
  padding: 20px;
  max-width: 80vw;
}

.etc {
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  margin-top: 50vh;
  z-index: 10;
  /* top: +50%; */
}

.pro {
    opacity: 0;
  padding: 20px;
  font-size: 18px;
  justify-items: center;
  max-width: 600px;
  margin: auto;
}
